.soketnoihide{
    display: none;
}
.show{
    display: block;
}
.hidden{
    display: none;
}

li{
    list-style: none;
}

.baitap1{
    background-color: aqua;
    padding: 30px;
    text-align: center;
}
.baitap1 ul{
    margin-right: 220px;
}
.baitap1 h3,h4,ul{
    margin-top: 20px;
    font-size: 20px;
}
.baitap1 input,h3{
    display: inline;
}
.baitap1 .uutien{
    display: flex;
    justify-content: space-between;
}
.monhoc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.monhoc input{
    margin-right: 100px;
}

#ketqua{
    margin-top: 20px;
    background-color: bisque;
}


.baitap2{
    background-color: aqua;
    padding: 30px;
    text-align: center;
}
.thongtin{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.thongtin input{
    margin-right: 100px;
}
button{
    margin: 10px;
}
.hoadon{
    text-align: left;
    background-color: blanchedalmond;
    width: 300px;
    padding: 20px;
}
.hoadon h5,h6{
    margin-top: 20px;
}


.bienlaithue{
    text-align: left;
    background-color: blanchedalmond;
    width: 300px;
    padding: 20px;
}
.bienlaithue h5,h6{
    margin-top: 20px;
}
.baitap3 input, h3{
    display: block;
}
.baitap3 h3{
    font-size: 20px;
}
.baitap3 input{
    width: 300px;
}
.baitap3, .baitap4{
    background-color: aqua;
    padding: 30px;
    width: 50%;
    margin: 0 auto;
}
.baitap4 input{
    width: 30px;
}
.baitap4 li{
    text-align: left;
}
#makhach, #ketnoi, #kenhcaocap{
    width: 300px;
}
.hoadoncap{
    text-align: left;
    background-color: blanchedalmond;
    width: 300px;
    padding: 20px;
}

.baitap1, .baitap2, .baitap3, .baitap4{
    border: 2px solid black;
    border-radius: 30px;
}

.hoadon, .ketqua, .bienlaithue, .hoadoncap{
    border: 3px dotted black;
    border-radius: 10px;
}